*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.adviceadmbox{
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #FFF;
}
.adviceadmbox__title{
	font-family: 30px;
	font-family: 'Muli', sans-serif;
	color: #13007C;
	padding-bottom: 35px;
}
.adviceadmbox__boxpicture{
	height: 380px;
	padding: 25px;
}
.adviceadmbox__picture{
	width: 350px;
	height: 299px;
	box-shadow: -10px 10px #13007C;
}
.adviceadmbox__text{
	width: 9rem;
	height: 19rem;
	padding-top: 80px;
	line-height: 1.7rem;
}
.adviceadmbox__paragraph{
	font-size: 10px;
	font-family: 'Muli', sans-serif;
	color: #AFAFAF;
}
.adviceadmbox__subtitle{
	font-size: 13px;
	font-family: 'Muli', sans-serif;
}
.adviceadmbox__namecarmen{
	font-size: 13px;
	font-family: 'Muli', sans-serif;
	color: #13007C;
}

.thematicbox{
	display: flex;
	justify-content: space-around;
	padding: 10px;
	background-color: #01A0C6;
}
.thematicbox__title{
	font-size: 28px;
	font-family: 'Muli', sans-serif;
	padding: 20px 0px 30px 0px;
	color: #fff;
}
.thematicbox__paragraph{
	width: 22vw;
	font-size: 13px;
	line-height: 20px;
	color: #fff;
}
.thematicbox__picute{
	width: 24vw; 
}
.publicationbox{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	background-color: #fff;

}
.publicationbox__article{
	width: 50%;
	text-align: center;

}
.publicationbox__title{
	font-size: 28px;
	font-family: 'Muli', sans-serif;
	color: #13007C;
	padding-bottom: 20px;
}
.publicationbox__picture{
	width: 600px;
	height: 600px;
	padding-top: 20px;
}
.publicationbox__text{
	width: 450px;
	line-height: 1.5;
}
.publicationbox__hometext, .publicationbox__hometexttwo, .publicationbox__hometexthree{
	border-left: 4px dotted #FF8000;
	margin-bottom: 30px;

}
.publicationbox__subtitle{
	font-size: 22px;
	font-family: 'Muli', sans-serif;
	margin-left: 20px;
}
.publicationbox__paragraph{
	font-family: 'Muli', sans-serif;
	margin-left: 20px;
}
.sponsorbox{
	display: flex;
	justify-content: space-around;
	padding: 30px;
}

.sponsorbox__title{
	font-size: 26px;
	font-family: 'Muli', sans-serif;
	color: #13007C;
}
.sponsorbox__picture{
	height: 23px;
	/*padding: 10px 0px 10px 10px;*/
}
footer{
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	background-color: #13007C;
}
.contactbox__title{
	font-size: 28px;
	font-family: 'Muli', sans-serif;
	
	color: #fff;
}
.contactbox{
	/*width: 25vw;*/
	display: flex;
	flex-direction: column;
	padding: 10px;
	text-align: start;
}
.contactbox__subtitle{
	font-size: 22px;
	color: #fff;
}
.contactbox__picturecontact{
	display: flex;
}
.contactbox__icon{
	width: 17px;
	height: 17px;
}
.contactbox__paragraph{
	font-size: 14px;
	padding: 0px 0px 15px 2px;
	color: #fff;
}
.contactbox__ultimate{
	padding: 40px;
	flex-direction: column;
}
.desenvolvimentbox{
	display: flex;
	justify-content: center;
	background-color: #fff;
}
.desenvolvimentbox__pictutre{
	width: 28px;
	height: 24px;
	padding: 5px 5px 0px 0px;
}
.desenvolvimentbox__paragraph{
	font-size: 12px;
	padding: 10px 5px 0px 0px;
}
